<!doctype html>
<html lang="en">
<head>
  <title>TBDesigns</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="logo.ico">
 
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>TB Designs and Photography</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav nav-fill w-100 align-items-start">
                <li class="nav-item">
                    <a class="nav-link text-light"  href="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light"  href="about">About</a>
                  </li>
                  <a class="navbar-brand" href="#">
                      <img class="rounded-circle" src="images/logo.jpg" alt="Logo" style="width:40px;">
                    </a>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
                      Gallery
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="drawing">Drawings</a>
                      <a class="dropdown-item" href="graphic_designs">Graphic Designs</a>
                      <a class="dropdown-item" href="photography">Photography</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light"  href="contact">Contact</a>
                  </li>
            </ul>
    </div>
</nav>
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="images/image4.jpg" alt="Random Name" class="img-fluid">
      </div>
      <div class="col-sm-4">
        <img src="images/image5.jpg" alt="Random Name"  class="img-fluid">
      </div>
      <div class="col-sm-4">
        <img src="images/image10.jpg" alt="Random Name"  class="img-fluid">
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-secondary">Drawings</a>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <img src="images/image2.jpg" alt="Random Name" class="img-fluid">
      </div>
      <div class="col-sm-4">
        <img src="images/image8.jpg" alt="Random Name"  class="img-fluid">
      </div>
      <div class="col-sm-4">
        <img src="images/image5.jpg" alt="Random Name"  class="img-fluid">
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-secondary">Graphic Design</a>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <img src="images/image7.jpg" alt="Random Name" class="img-fluid">
      </div>
      <div class="col-sm-4">
        <img src="images/image3.jpg" alt="Random Name"  class="img-fluid">
      </div>
      <div class="col-sm-4">
        <img src="images/image6.jpg" alt="Random Name"  class="img-fluid">
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-secondary">Photography</a>
    </div>
    <br>
  </div>
  <footer>
      <ul class="nav navbar justify-content-center">
          <li><a href="https://wwww.facebook.com"><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href="https://www.instagram.com/tbdesigns29/"><i class="fa fa-instagram fa-2x"></i></a></li>
        </ul>
        <p>TB Designs and Photography 2017 &COPY;</p> 
     </footer>
</body>
</html>