@font-face {
    font-family: myFirstFont;
    src: url(/Script/fonts/myfont.ttf);
}
body{
    height: 100%;
    background:linear-gradient(to bottom, rgb(94, 92, 92),black);
}

footer{
    text-align: center;
    color: white;
}
li{
    color: black;
}
h1{
    font-family: myFirstFont;
    font-size: 100px;
    color: white;
    text-align: center;
    text-shadow: 3px 3px rgb(51, 51, 51);
}
.fa-instagram,.fa-facebook,.fa-youtube{
    color: white;
}

.img-responsive{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
p,h2{
    color: white;
}